<div class="swiper-container my-custom-swiper">
    <div class="swiper-wrapper">
        {{ if .IsNamedParams }}
        {{ errorf "The swiper shortcode does not accept named parameters. Use positional parameters like {{< swiper \"image1.jpg\" \"image2.png\" >}}." }}
        {{ else }}
        {{ range .Params }}
        <div class="swiper-slide">
            <div class="swiper-slide-content">
                <img src="{{ . | relURL }}" alt="Carousel Image">
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>